NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDe5HpinvbbeOKE6dC1pyVbX7TTSmwpBYA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=furniture-visualization-app.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=furniture-visualization-app
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=furniture-visualization-app.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=24506160042
NEXT_PUBLIC_FIREBASE_APP_ID=1:24506160042:web:c7593eb0c27702903211d3
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-E3S3098NCH